<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Drug Overdose Study</title>
  <!-- bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <!-- <link rel="stylesheet" href="static/css/style.css"> -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Comparison of Drug Overdose Deaths</h1>
        <p class="sub-title">subtitle thing</p>
        <button onclick="APILink()">See API for this data</button>
        <script>
            function APILink(){window.location='http://drug-study.herokuapp.com/api/v1.0/alldrugs';}
        </script>
    </div>
</div>  


<div class="row">
    <div class="container">
    <select id="list">
        <option value="US">US - ALL</option>
        <option value="AK">AK - Alaska</option>
        <option value="AZ">AZ - Arizona</option>
        <option value="CA">CA - California</option>
        <option value="CO">CO - Colorado</option>
        <option value="CT">CT - Connecticut</option>
        <option value="DC">DC - District of Columbia</option>
        <option value="DE">DE - Delaware</option>
        <option value="FL">FL - Florida</option>
        <option value="GA">GA - Georgia</option>
        <option value="HI">HI - Hawaii</option>
        <option value="IA">IA - Iowa</option>
        <option value="IL">IL - Illinois</option>
        <option value="IN">IN - Indiana</option>
        <option value="KS">KS - Kansas</option>
        <option value="KY">KY - Kentucky</option>
        <option value="MA">MA - Massachusetts</option>
        <option value="MD">MD - Maryland</option>
        <option value="ME">ME - Maine</option>
        <option value="MO">MO - Missouri</option>
        <option value="MS">MS - Mississippi</option>
        <option value="NC">NC - North Carolina</option>
        <option value="NH">NH - New Hampshire</option>
        <option value="NJ">NJ - New Jersey</option>
        <option value="NM">NM - New Mexico</option>
        <option value="NV">NV - Nevada</option>
        <option value="NY">NY - New York</option>
        <option value="OH">OH - Ohio</option>
        <option value="OK">OK - Oklahoma</option>
        <option value="OR">OR - Oregon</option>
        <option value="RI">RI - Rhode Island</option>
        <option value="SC">SC - South Carolina</option>
        <option value="SD">SD - South Dakota</option>
        <option value="TN">TN - Tennessee</option>
        <option value="TX">TX - Texas</option>
        <option value="UT">UT - Utah</option>
        <option value="VA">VA - Virginia</option>
        <option value="VT">VT - Vermont</option>
        <option value="WA">WA - Washington</option>
        <option value="WI">WI - Wisconsin</option>
        <option value="WV">WV - West Virginia</option>
        <option value="WY">WY - Wyoming</option>        
    </select>
    <button onclick="changegraph1()">Update Graph</button>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-12">
        <!-- <div class="container-fluid">
            <p>Placeholder for Line Graph 1</p>
        </div> -->
        <div id="plot1"></div>
        <script src="{{url_for('static', filename='js/logic.js')}}"></script>
        <!-- <script src="static/js/logic.js"></script> -->
    </div>
</div>

<div class="row d-flex justify-content-center">
    <p class="sub-title">---------------------spacer or title row---------------------</p>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-5">
    <div class="container">
        <select id="list2">
            <option value="US">US - ALL</option>
            <option value="AK">AK - Alaska</option>
            <option value="AZ">AZ - Arizona</option>
            <option value="CA">CA - California</option>
            <option value="CO">CO - Colorado</option>
            <option value="CT">CT - Connecticut</option>
            <option value="DC">DC - District of Columbia</option>
            <option value="DE">DE - Delaware</option>
            <option value="FL">FL - Florida</option>
            <option value="GA">GA - Georgia</option>
            <option value="HI">HI - Hawaii</option>
            <option value="IA">IA - Iowa</option>
            <option value="IL">IL - Illinois</option>
            <option value="IN">IN - Indiana</option>
            <option value="KS">KS - Kansas</option>
            <option value="KY">KY - Kentucky</option>
            <option value="MA">MA - Massachusetts</option>
            <option value="MD">MD - Maryland</option>
            <option value="ME">ME - Maine</option>
            <option value="MO">MO - Missouri</option>
            <option value="MS">MS - Mississippi</option>
            <option value="NC">NC - North Carolina</option>
            <option value="NH">NH - New Hampshire</option>
            <option value="NJ">NJ - New Jersey</option>
            <option value="NM">NM - New Mexico</option>
            <option value="NV">NV - Nevada</option>
            <option value="NY">NY - New York</option>
            <option value="OH">OH - Ohio</option>
            <option value="OK">OK - Oklahoma</option>
            <option value="OR">OR - Oregon</option>
            <option value="RI">RI - Rhode Island</option>
            <option value="SC">SC - South Carolina</option>
            <option value="SD">SD - South Dakota</option>
            <option value="TN">TN - Tennessee</option>
            <option value="TX">TX - Texas</option>
            <option value="UT">UT - Utah</option>
            <option value="VA">VA - Virginia</option>
            <option value="VT">VT - Vermont</option>
            <option value="WA">WA - Washington</option>
            <option value="WI">WI - Wisconsin</option>
            <option value="WV">WV - West Virginia</option>
            <option value="WY">WY - Wyoming</option>        
            
        </select>
        </div>

        <div class="container">
            <select id="list3">
                <!-- <option value="2015">2015</option> -->
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>

            </select>
            <button onclick="changegraph2()">Update Graph</button>
            </div>
        </div>

        <div class="col-md-5">
            <div class="container">
                <select id="list4">
                    <option value="US">US - ALL</option>
                    <option value="AK">AK - Alaska</option>
                    <option value="AZ">AZ - Arizona</option>
                    <option value="CA">CA - California</option>
                    <option value="CO">CO - Colorado</option>
                    <option value="CT">CT - Connecticut</option>
                    <option value="DC">DC - District of Columbia</option>
                    <option value="DE">DE - Delaware</option>
                    <option value="FL">FL - Florida</option>
                    <option value="GA">GA - Georgia</option>
                    <option value="HI">HI - Hawaii</option>
                    <option value="IA">IA - Iowa</option>
                    <option value="IL">IL - Illinois</option>
                    <option value="IN">IN - Indiana</option>
                    <option value="KS">KS - Kansas</option>
                    <option value="KY">KY - Kentucky</option>
                    <option value="MA">MA - Massachusetts</option>
                    <option value="MD">MD - Maryland</option>
                    <option value="ME">ME - Maine</option>
                    <option value="MO">MO - Missouri</option>
                    <option value="MS">MS - Mississippi</option>
                    <option value="NC">NC - North Carolina</option>
                    <option value="NH">NH - New Hampshire</option>
                    <option value="NJ">NJ - New Jersey</option>
                    <option value="NM">NM - New Mexico</option>
                    <option value="NV">NV - Nevada</option>
                    <option value="NY">NY - New York</option>
                    <option value="OH">OH - Ohio</option>
                    <option value="OK">OK - Oklahoma</option>
                    <option value="OR">OR - Oregon</option>
                    <option value="RI">RI - Rhode Island</option>
                    <option value="SC">SC - South Carolina</option>
                    <option value="SD">SD - South Dakota</option>
                    <option value="TN">TN - Tennessee</option>
                    <option value="TX">TX - Texas</option>
                    <option value="UT">UT - Utah</option>
                    <option value="VA">VA - Virginia</option>
                    <option value="VT">VT - Vermont</option>
                    <option value="WA">WA - Washington</option>
                    <option value="WI">WI - Wisconsin</option>
                    <option value="WV">WV - West Virginia</option>
                    <option value="WY">WY - Wyoming</option>        
                    
                </select>
            </div>
        
                <div class="container">
                    <select id="list5">
                        <!-- <option value="2015">2015</option> -->
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                    <button onclick="changegraph3()">Update Graph</button>
                </div>
        </div>
</div>


<div class="row d-flex justify-content-center">
    <div class="col-md-5">
        <!-- <div class="container-fluid">
            <p>Placeholder for bar Graph 1</p>
        </div> -->
        <div id="plot2"></div>
        <script src="{{url_for('static',filename='js/logic.js')}}"></script>
        <!-- <script src="static/js/logic.js"></script> -->
    </div>

    <div class="col-md-5">
        <!-- <div class="container-fluid">
            <p>Placeholder for bar Graph 2</p>
        </div> -->
        <div id="plot3"></div>
        <script src="{{url_for('static',filename='js/logic.js')}}"></script>
        <!-- <script src="static/js/logic.js"></script> -->
    </div>
    
</div>

<div class="row d-flex justify-content-center">
    <p class="sub-title">---------------------spacer or title row---------------------</p>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-5">
    <div class="container">
        <select id="graph4list1">
            <option value="Cocaine ">Cocaine </option>
            <option value="Heroin ">Heroin </option>
            <option value="Methadone">Methadone</option>
            <option value="Opioids ">Opioids </option>
            <option value="Prescription Opioids">Prescription Opioids</option>     
        </select>
        </div>

        <div class="container">
            <select id="graph4list2">
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
            </select>
            <button onclick="changegraph4()">Update Graph</button>
            </div>
        </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-10">
        <div id="plot4"></div>
        <script src="{{url_for('static',filename='js/logic.js')}}"></script>
        <!-- <script src="static/js/logic.js"></script> -->
    </div>
    
</div>

<div class="row d-flex justify-content-center">
    <p class="sub-title">---------------------spacer or title row---------------------</p>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-5">
    <div class="container">
        <select id="graph5list1">
            <option value="Cocaine ">Cocaine </option>
            <option value="Heroin ">Heroin </option>
            <option value="Methadone">Methadone</option>
            <option value="Opioids ">Opioids </option>
            <option value="Prescription Opioids">Prescription Opioids</option>     
        </select>
        </div>

        <div class="container">
            <select id="graph5list2">
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
            </select>
            <button onclick="changegraph5()">Update Map</button>
            </div>
        </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div id="plot5"></div>
        <script src="{{url_for('static',filename='js/logic.js')}}"></script>
        <!-- <script src="static/js/logic.js"></script> -->
    </div>
    
</div>


</div>

</body>

</html>